/*style all text*/
*{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color:rgb(77, 75, 75);
    background-color:#F3E7E7;
    text-align: center;
    padding: 2px;
  }
  
  /*style headers*/
  h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: #707070;
    background-color:#F3E7E7;
    text-shadow:3px 3px 8px rgb(138, 135, 135);
    text-align: center;
  }
  
  /*style titles*/
  .title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    color:#707070;
    background-color:#F3E7E7;
    text-align: center;
  }

  /*style about me border*/
  .border{
    text-align: center;
    background-color: #F3E7E7;
    flex-wrap: wrap;
    padding: 3rem;
    margin: 5rem;
    border-radius: 10px;
    border: 2px dashed #707070;
    
  }

  body{
    padding:0px;
    margin:0px;
  }
  /*style for contact*/
  .contact{
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    background-color: white;
  }

  /*style for buttons*/
  .button {
    border: none;
    color: white;
    padding: 8px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 30px 10px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  /*color for button*/
  .button1 {
    background-color: #F3E7E7;
    color: black;
    border: 2px solid black;
  }
  
  /*change color on hover*/
  .button1:hover {
    background-color: black;
    color: white;
  }

  /*navigation bar background*/
  .header-background{
      color:white;
      font-size: 20px;
      background-color: #707070;
      padding-top: 30px;
      padding-bottom: 30px;
      transition-duration: 0.4s;
  }

  /*navigation bar change color on hover*/
  .header-background:hover{
      color:#707070;
      background-color:white;
  }

  /*navigation bar sticky*/
  #navbar {
    overflow: hidden;
    background-color: #707070;
    
  }
  
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: #707070;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }

  /*footer background*/
  .footer{
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #D5CDCD;
    background-image: linear-gradient(to bottom right, #F3E7E7, rgb(198, 197, 201));
  }

  /*social media button style*/
  .fa {
    padding: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    color: black;
  }
  
  /*social media button hover change color*/
  .fa:hover {
      opacity: 0.5;
  }

  /*flexbox*/
  .flex-container {
    display: flex;
    flex-direction: row;
    text-align: center;
  }
  
  .flex-left {
    background-color: #F3E7E7;
    padding: 0px;
    flex: 50%;
  }
  
  .flex-right {
    background-color: #F3E7E7;
    padding: 0px;
    flex: 50%;
  }
  
  /*one column-layout instead of two-column layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }
